/* GLOBAL STYLES & IMPORTS */
@import './styles/design-tokens.css';
@import './styles/skeuomorphic.css';
@import './styles/simulation.css';
@import './styles/roles.css';
@import './styles/intro_and_tour.css';

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
